<ul class="list-group">
  <li class="list-group-item"><%= @trip.id %></li>
  <li class="list-group-item"><%= @trip.description %></li>
  <li class="list-group-item"><%= @trip.users.count %></li>
  <li class="list-group-item"><%= @trip.value_cents %></li>
</ul>
